#set ($language="JavaScript")
#set ($description="Packaging Information")
#set ($author="Evol Johnson")
#set ($overwrite="true")
#set ($enabled="true")
#set ($filep="${entity.getVariableName()}Edit.ctrl.js")
#set ($filename="${outputDir}/${project.name}/www/${entity.getVariableName()}/${filep}")
#parse("common/utils.parse")
#parse("common/classHeader.parse")

#if(${entity.checkForAnnotation("ShowInMainMenu")} && ${entity.displayable} )
angular.module('${project.name}.${entity.getVariableName()}.controllers')
.controller('${entity.name}EditCtrl', function (${d}scope,$window, ${entity.name}Service,${d}ionicModal,${d}stateParams#foreach($domain in $entity.getDomains()),${domain.type}Service#end) {
console.log("${entity.name}EditCtrl");

${d}scope.${entity.getVariableName()} = ${entity.name}Service.get${entity.name}();

${d}scope.load${entity.name}Combos = function(){
 #foreach($domainsat in $entity.getDomains())
 #set($domain=$model.findDomain(${domainsat.shortType()}))
 //Gets data to fill combo for  ${domain.type} values;
 ${domain.name}Service.findAll().success(function(${domain.getVariableName()}s) {$scope.${domain.getVariableName()}s = ${domain.getVariableName()}s});
 #end
};

      
// Update ${entity.name}: gets values and saves via Webservice 
${d}scope.update${entity.name} = function(${entity.getVariableName()}) {

${d}scope.${entity.getVariableName()} = {};

#set ($cont=0)
#foreach( $attribute in $entity.attributes)
##if(${attribute.checkForAnnotation("ShowInForm")})
#if(${attribute.getDomain()})
#set($domain=$model.findDomain(${attribute.shortType()}))
if(typeof ${entity.getVariableName()}.${attribute.name} != 'undefined'){
	${d}scope.${entity.getVariableName()}['${attribute.name}'] = ${entity.getVariableName()}.${attribute.name}.${domain.getKeyField().name};
}else{
	${d}scope.${entity.getVariableName()}['${attribute.name}'] = null;
}
#else
#if(${attribute.isCollection()})
${d}scope.${entity.getVariableName()}['${attribute.name}'] = ${entity.getVariableName()}.${attribute.name};
#else
${d}scope.${entity.getVariableName()}['${attribute.name}'] = ${entity.getVariableName()}.${attribute.name};
#end
#end
#set ($cont= $cont +1)
##end
#end

	

//sends request
${entity.name}Service.save(${d}scope.${entity.getVariableName()}).success(function(data, status, headers, config) {
//refresh list
//resets values
#foreach( $attribute in $entity.attributes)
#if(${attribute.checkForAnnotation("ShowInForm")})
${entity.getVariableName()}.${attribute.name} = "";
#end
#end
//${d}scope.hideEdit${entity.name}Modal();
$window.history.back();
${entity.name}Service.findAll().success(function(${entity.getVariableName()}s) {${d}scope.${entity.getVariableName()}s = ${entity.getVariableName()}s});
		
	}).error(function(data, status, headers, config) {
		${d}scope.status = status;
		alert(data);
	});
};

// Delete ${entity.name}: gets values and saves via Webservice 
${d}scope.delete${entity.name} = function(${entity.getVariableName()}) {
	//sends request
	${entity.name}Service.delete(${entity.getVariableName()}.${entity.getKeyField().name}).success(function(data, status, headers, config) {
		//refresh list
		//${d}scope.hideEdit${entity.name}Modal();
		$window.history.back();
		${entity.name}Service.findAll().success(function(${entity.getVariableName()}s) {${d}scope.${entity.getVariableName()}s = ${entity.getVariableName()}s});
			
	}).error(function(data, status, headers, config) {
		//${d}scope.status = status;
		alert(data);
	});
	
};
 
${d}scope.load${entity.name}Combos(); 
 
});

#end
