#set ($language="JavaScript")
#set ($description="Packaging Information")
#set ($author="Evol Johnson")
#set ($overwrite="true")
#set ($enabled="true")
#set ($filep="${entity.getVariableName()}.service.js")
#set ($filename="${outputDir}/${project.name}/www/${entity.getVariableName()}/${filep}")
#parse("common/utils.parse")
#parse("common/classHeader.parse")
/**
* ${entity.name} Service
*/
var baseurl = "http://localhost:9000/${project.name}/api/";
angular.module('${project.name}.${entity.getVariableName()}.services',['ionic'])
.factory('${entity.name}Service', function (${d}http) {
   var ${entity.getVariableName()}s = [];
   var ${entity.getVariableName()} = {};
  return  {
  
  			findAll: function() {
                var url = baseurl+"list${entity.name}";
      			return $http.get(url);
            },

            findById: function(id) {
                var url = baseurl+"get${entity.name}?id="+id;
      			return $http.get(url);
            },

			get${entity.name}s: function(){
            	return ${entity.getVariableName()}s;
        	},
        	set${entity.name}s: function(new_${entity.getVariableName()}s){
             	${entity.getVariableName()}s = new_${entity.getVariableName()}s;
        	},
        	
        	get${entity.name}: function(){
            	return ${entity.getVariableName()};
        	},
        	set${entity.name}: function(new_${entity.getVariableName()}){
             	${entity.getVariableName()} = new_${entity.getVariableName()};
        	},
 			save: function(entity) {
 			return ${d}http({
            url: baseurl+'add${entity.name}',
            method: "POST",
            data: entity,
            headers: {'Content-Type': 'application/json'}
        })
            
            
            
 			},
 			
 			update: function(entity) {
 			},
 			
 			delete: function(id) {
 				var url = baseurl+"delete${entity.name}?id="+id;
      			return $http.get(url);
 			}
 
#foreach( $attribute in $entity.attributes)
#if(${attribute.searchable()})
,findBy${attribute.proper()}: function(searchKey) {
	var url = baseurl+"search${entity.name}By${attribute.proper()}?criteria="+searchKey;
      			return $http.get(url);
}
#end
#end 
  }  
});



