#set ($language="Swift")
#set ($description="A class to create webservice requests for ${entity.name s}")
#set ($author="Evol Johnson")
#set ($overwrite="true")
#set ($filename="${outputDir}/${project.name}/${entity.name}Client.swift")

// could extend from base Class
class ${project.name}/${entity.name}Client  { 
let baseUrl = "http://localhost:9000/${project.name}/api/"
#parse('swift/webserviceRequest.swift.parse')
}


 