#set ($language="Swift")
#set ($description="Web service")
#set ($author="Evol Johnson")
#set ($overwrite="true")
#set ($enabled="true")
#set ($filep="${entity.name}Client.swift")
#set ($filename="${outputDir}/${bundle.name}/${filep}")
#parse("common/utils.parse")

// could extend from base Class
class ${entity.name}Client  { 
let baseUrl = "http://localhost:9000/${project.name}/api/"
#parse('swift/webserviceRequest.swift.parse')
}


 